.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  height: 70px;
}
.navbar {
  border-bottom: solid 1px #e8e8e8;
  /* z-index: 600; */
}

.navbar-nav {
  font-size: 20px;
}

.nav-link {
  /* color: rgb(66, 69, 253); */
  font-weight: 600;
  padding: 10px 15px;
}
.nav-link:hover {
  /* color: rgb(66, 69, 253); */
  border-bottom: solid 2px #3b71ca;
}

.navbar-toggler {
  border-color: white;
}
.is-active {
  font-weight: 600;
  color: orange !important;
}
